html,
body {
    width: 50%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 500px;
}

#inp {
    width: 500px;
    height: 50px;
    border: 3px solid black;
    font-size: 30px;
    vertical-align: middle;
}

#add {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    vertical-align: middle;
}

.to-do {
    margin-top: 40px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 30px;
}